<!-- <ul class="nav">
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      routerLink="/html/convertible"
      >Convertible</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/html/transloco"
      >Transloco</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/html/bindedProp"
      >Binded Properties</a
    >
  </li>
</ul> -->
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Convertible">
    <app-convertable></app-convertable>
  </mat-tab>
  <mat-tab label="Transloco">
    <app-transloco></app-transloco>
  </mat-tab>
  <mat-tab label="Binded Properties">
    <app-binded-prop></app-binded-prop>
  </mat-tab>
</mat-tab-group>

<!-- <router-outlet></router-outlet> -->
