<!-- select the folder to fetch all the html -->
<!-- select the name of the html and base path -->

<nav class="navbar navbar-custom">
  <a class="navbar-brand" href="#">
    <img
      src="../assets/maersk.png"
      width="30"
      style="margin-left: 10px"
      height="30"
      lass="d-inline-block align-top"
      alt=""
    />
    <label style="margin-left: 10px; color: black"
      >Multi Language Support</label
    >
  </a>
</nav>
<div class="container-fluid"></div>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/html">HTML</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/typescript"
      >Typescript</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
